
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;700;800&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


/* GENERAL */
body {
   font-family:'Sora', sans-serif;
   font-size: 20px;
   color: black;
   width: 100vw;
}

h1{font-size: 3.7rem;}
h2{font-size: 2.4rem ;}
p{line-height: 34px;}


/* BOTONES */
.enlaceBoton {
   text-decoration: none;
   font-size: 1.2rem;
   }

.botonGrande {
   text-align: center;
   width:290px;
   padding-top: 35px;
   padding-bottom: 35px;
   border-radius: 5px;
}

.botonOscuro {
   background-color: black;
}

.textosBotonOscuro {
   color: white;
}

/* ----------------------------------------------------------------------------------------- */
/* HEADER */

/* NAVEGADOR */
.MENU{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   padding-top: 20px;
   padding-left: 130px;
   padding-right: 130px;
   width: 100%;
   height: 90px;
   background-color: #fffffffb;
   
}

/* LOGO */
.contenedorLogo {
   width:10%;
   text-align: left;
   padding-top: 5px;
}

.imagenLogo{
   width: 80%;
   }

/* MENU */
.contenedorNavegador{
   height: 100%;
   width: 90%;
   display: flex;
   justify-content: end;
      }

.listaMenu {
   display: inline-block; 
}

.elementosLista {
   line-height: 70px;
   text-align: center;
   list-style: none;
   display: inline-block;
}

.enlace {
   text-decoration: none;
   color: black;
   margin-left: 40px;
}

/* ---------------------------------------------------------- */

/* PORTADA */
.BANNER_PRINCIPAL_HOME {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vw;
   margin-bottom: 100px;
   margin-top: 100px;
   padding-left: 130px;
   padding-right: 130px;
}

/* TITULO */
.contenedorTitulo_portada_home{
   width: 40%;
}

.titulo_portada_home{
   text-align: left;
}

.titulo_portada_home p {
   margin-top: 15px;
   margin-bottom: 30px;
}

/* IMAGEN */
.contenedorImagen_portada_home{
   width: 60%;
   text-align: right;
}

.imagenPortada_home {
   width: 85%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}


/* ----------------------------------------------------------------------------------- */


/* SECCION 1 */
.SECCION1_HOME{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 100%vw;
   padding-top: 70px;
   padding-bottom: 70px;
   height: 50vw;
   background-color:#fff1d9;
   background-image: url(../assets/img/fondo\ seccion\ 1\ HOME.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;    
}


/* TEXTOS */
.contenedorTitulo_seccion1_home {
   width: 50%;
   text-align: center;
}

.contenedorTitulo_seccion1_home h2 {
   margin-bottom: 15px;
}

/* COMENTARIOS */
.contenedorFormulario_seccion1_home{
   text-align: center;
   width: 50%;
}

#comentarioHome{
   background-color: #e3e3e300;
   color: #8e8d8d;
   border: 2px solid black;
   border-radius: 5px;
   padding-top: 15px;
   padding-left: 15px;
   font-family:'Sora', sans-serif;
}

/* BOTONES */
.botonesFormulario_home{
   margin-top: 25px;
}

#borrar {
   margin-right: 20px;
   font-size: 1.1rem;
   font-family:'Sora', sans-serif;
   font-weight:400;
   background-color: rgba(255, 255, 255, 0);
   border: 2px solid black;
   border-radius: 5px;
   width: 360px;
   height: 70px;
}
   
#enviar {
   font-size: 1.1rem;
   font-family:'Sora', sans-serif;
   margin-left: 20px;
   border-radius: 5px;
   background-color: black;
   color: white;   
   font-weight:400;
   width: 360px;
   height: 70px;}


/* ----------------------------------------------------------------------------------------------------------------- */

/* SECCION 2 */

/* CONTENEDOR */
.SECCION2_HOME{
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 50vw;
   width: 100vw;
   padding-left: 130px;
   padding-right: 130px;
    
}

/* TEXTOS */
.contenedorTitulo_seccion2_home{
   text-align: left;
   width: 50%;
   padding-right: 50px;
}

.titulo_portada_home p {
   margin-bottom: 30px;
   margin-top: 15px;
}

/* IMAGEN */
.contenedorImagen_seccion2_home {
   width: 50%;
   text-align: right;
}

.imagen_seccion2_home {
   width: 90%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}


/* ------------------------------------------------------------------------------------------------------------------------- */

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 26vw;
  background-color: #212121;  
  padding-left: 130px;
  padding-right: 130px;
}

/* COLUMNA 1 */
.columna1_redesSociales_footer{
   width: 33%;
   text-align: center;
}

.icono {
   font-size: 3rem;
   color: gray;
   margin-right: 7px;
   margin-left: 7px;
}

/* COLUMNA 2 */
.columna2_menu_footer{
   width: 33%;
   text-align: center;
}

/* MENU */
.contenedorNavegador_footer{
   width: 100%;
}

.listaMenu_footer{
   width: 100%;
}

.elementosLista_footer {
   list-style: none;
}

.enlace_footer {
   line-height: 45px;
   text-align: left;
   text-decoration: none;
   color: #A2A2A2;
}


/* COLUMNA 3 */
.columna3_logo_footer{
   width: 33%;
   text-align: center;
}

/* DERECHOS */
.derechos {
   width: 100vw;
   height: 2.5vw;
   background-color: #fff1d9;
   text-align: center;
   line-height: 2.5vw;
   padding-left: 130px;
   padding-right: 130px;
}
.derechos p {
   font-size: 0.8rem;
}

