@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;700;800&display=swap");
/*------------ BODY-------------- */
/* pureba */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 20px;
  color: #0f0e0e;
}

h1 {
  font-size: 3.7rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

p {
  line-height: 34px;
  margin: 0;
}

span {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.7rem;
    font-weight: 600;
  }
  p {
    line-height: 25px;
  }
}
/* -----------HEADER--------------- */
/* nav bar */
.colorFondoMenu {
  background-color: white;
}
.colorFondoMenu .logo-mobile {
  display: none;
}
.colorFondoMenu .textoMenu {
  font-size: 16px;
}
.colorFondoMenu .textoMenu .botonActivo {
  border: 2px solid #797979;
  border-radius: 5px;
}

/* banner */
.banner_home {
  padding-top: 3rem;
}
.banner_home .img-propio {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .colorFondoMenu .logo-mobile {
    display: initial;
  }
  .colorFondoMenu .logo-desktop {
    display: none;
  }
  .colorFondoMenu .textoMenu .botonActivo {
    border: initial;
    border-radius: initial;
  }
  .banner_home {
    padding-top: 0.5rem;
  }
  .banner_home .txt-banner_home {
    height: 45vh;
    text-align: center;
    order: 1;
    padding-top: 1rem;
  }
  .banner_home .img-banner_home {
    height: 55vh;
    padding-left: 0.8rem;
    padding-top: 6rem;
    order: 0;
  }
  .banner_home .img-banner_home .img-propio {
    width: 100%;
  }
}
/* ------------------HOME------------------- */
/* seccion 1 */
.seccion-1_home {
  height: 100vh;
  background-image: url(../assets/img/fondo-seccion-1-home.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.seccion-1_home .width_home {
  max-width: 45vw;
}
.seccion-1_home .width_home .contenedorImagenSeccion-1_home {
  display: none;
}

/* formulario*/
.comentarios {
  padding: 0 12px;
}
.comentarios #comentarioHome {
  height: 20vh;
  background-color: white;
  font-size: 1rem;
  border-color: white;
  border-radius: 5px;
  padding-top: 25px;
  padding-left: 15px;
  margin-top: 30px;
  text-align: center;
}

#borrar {
  font-size: 1.1rem;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #0f0e0e;
  border-radius: 5px;
  height: 70px;
}

#enviar {
  font-size: 1.1rem;
  font-family: "Sora", sans-serif;
  border-radius: 5px;
  background-color: #0f0e0e;
  color: #fff1d9;
  font-weight: 400;
  height: 70px;
}
#enviar:hover {
  background-color: #4e4e4e;
  border-radius: 5px;
  color: #fff1d9;
}

@media screen and (max-width: 768px) {
  /* seccion 1 */
  .seccion-1_home {
    height: 110vh;
    background-image: initial;
  }
  .seccion-1_home .width_home {
    max-width: initial;
  }
  .seccion-1_home .width_home .contenedorImagenSeccion-1_home {
    text-align: center;
    display: initial;
  }
  .seccion-1_home .width_home .contenedorImagenSeccion-1_home .imagenSeccion1_home {
    width: 55%;
    margin-bottom: 30px;
  }
  .seccion-1_home .width_home .parrafo {
    padding-bottom: 0;
  }
  /* formulario */
  .comentarios {
    padding: 0 12px;
  }
  .comentarios #comentarioHome {
    height: 12vh;
    margin-top: 3rem;
    text-align: center;
    padding: 2rem 0;
  }
  #borrar {
    font-size: 0.9rem;
    height: 50px;
  }
  #enviar {
    font-size: 0.9rem;
    height: 50px;
  }
  /* seccion 2 */
  .textos-seccion-2_home {
    order: 1;
    text-align: center;
  }
  .textos-seccion-2_home .parrafo {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .contenedor_imagen-seccion-2_home {
    text-align: center;
    display: initial;
    order: 0;
    padding-bottom: 30px;
  }
  .contenedor_imagen-seccion-2_home .img-propio {
    width: 85%;
  }
}
/* -------------ABOUTE ME------------*/
/* banner */
.portada_aboutMe {
  background-image: url(../assets/img/personajes/about_me_portada_650.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 65%;
  background-position-x: 80%;
  text-align: center;
  height: 100vh;
}
.portada_aboutMe .titulo-portada_aboutMe {
  padding-right: 30%;
  padding-top: 10%;
}
.portada_aboutMe .titulo-portada_aboutMe .h1_aboutMe {
  width: 30vw;
  height: 15vh;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: #ffb01a;
  border-radius: 50px 0 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
}
.portada_aboutMe .titulo-portada_aboutMe .p_aboutMe {
  width: 30vw;
  height: 15vh;
  padding: 40px 0;
  background-color: white;
  border-radius: 50px 0 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
}

/* seccion 1 */
.texto-seccion-1_aboutMe {
  padding-left: 0;
}
.texto-seccion-1_aboutMe .redes_abouteMe {
  margin-top: 1.2rem;
}
.texto-seccion-1_aboutMe .redes_abouteMe p {
  color: #ababab;
}
.texto-seccion-1_aboutMe .redes_abouteMe .redesSociles_internas {
  font-size: 3rem;
}
.texto-seccion-1_aboutMe .redes_abouteMe .redesSociles_internas a {
  color: #ababab;
}
.texto-seccion-1_aboutMe .redes_abouteMe .redesSociles_internas a:hover {
  color: #516bff;
}

/* seccion 1 */
.img-seccion-1_aboutMe .img-propio {
  width: 90%;
  padding-left: 0;
}

/* seccion 2 */
.padding-titulos-aboutMe {
  padding: 0 4rem;
}

@media screen and (max-width: 768px) {
  /* banner */
  .portada_aboutMe {
    background-size: 85%;
    background-position-y: 30%;
    background-position-x: 60%;
    text-align: center;
  }
  .portada_aboutMe .titulo-portada_aboutMe {
    padding-right: 0;
    padding-top: 100%;
  }
  .portada_aboutMe .titulo-portada_aboutMe .h1_aboutMe {
    width: 60vw;
    height: 10vh;
    padding: 18px 0;
    margin-bottom: 20px;
    background-color: #ffb01a;
    border-radius: 35px 0 35px 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
  }
  .portada_aboutMe .titulo-portada_aboutMe .p_aboutMe {
    width: 60vw;
    height: 10vh;
    padding: 25px 0;
    background-color: white;
    border-radius: 35px 0 35px 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
  }
  /* seccion 1 */
  .texto-seccion-1_aboutMe {
    order: 1;
    text-align: center;
  }
  .texto-seccion-1_aboutMe .redes_abouteMe {
    margin-top: 1.2rem;
  }
  .texto-seccion-1_aboutMe .redes_abouteMe p {
    color: #ababab;
  }
  .texto-seccion-1_aboutMe .redes_abouteMe .redesSociles_internas {
    font-size: 2.2rem;
  }
  .img-seccion-1_aboutMe {
    order: 0;
    display: flex;
    justify-content: center;
    width: 90%;
    padding-left: 2rem;
  }
  /* seccion 2 */
  .img-seccion-2_aboutMe .img-propio {
    width: 85%;
  }
  .padding-titulos-aboutMe {
    padding: 0 0.5rem;
    padding-bottom: 4rem;
  }
}
/* -----------------PROGRESS-------------- */
.img-banner_progress > .img-propio {
  padding-top: 3rem;
}

.padding_progress {
  padding: 0 6rem;
}

.seccion_progress {
  height: 90vh;
}

.enCurso_progress {
  max-width: 95%;
  max-height: 100%;
  border-radius: 15px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.093), 0 10px 40px 0 rgba(0, 0, 0, 0.05);
}

.finalizadas_progress {
  max-width: 95%;
  max-height: 100%;
  border-radius: 15px;
  padding: 40px;
  background-color: #ffb01a;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.093), 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.padding-h2_progress {
  padding-bottom: 20px;
}

.contenedor-galeria_progress {
  height: 70vh;
}

.lista-seccion-1_progress {
  height: 45vh;
}

.justify_progress {
  justify-content: left;
}

.titulos-seccion-2_progress {
  height: 33vh;
}

.paddingTexto > h1 {
  padding-top: 9.5rem;
}

.img-seccion-2_progress {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .seccion_progress {
    height: 100vh;
  }
  .paddingTexto > h1 {
    padding-top: 0;
  }
  .padding_progress {
    padding: 0 0;
  }
  .txt-banner_progress {
    height: 45vh;
    text-align: center;
    order: 1;
    padding: 0 1rem;
    padding-top: 4rem;
  }
  .img-banner_progress {
    height: 55vh;
    padding-top: 6rem;
    order: 0;
  }
  .img-banner_progress > .img-propio {
    width: 85%;
    padding-top: 1.5rem;
  }
  .enCurso_progress {
    max-width: 100%;
    padding: 30px;
    margin-bottom: 1rem;
  }
  .finalizadas_progress {
    max-width: 100%;
    padding: 30px;
  }
  .padding-h2_progress {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .img-seccion-2_progress {
    padding-top: 3rem;
  }
  .img-seccion-2_progress {
    padding: 0;
    margin: 1rem 0;
  }
}
/* ------------PODCAST-------------- */
.color-portada-card {
  background-color: #516bff;
}

.color-1-divisor_podcast {
  background-color: white;
}

.color-2-divisor_podcast {
  background-color: #fff1d9;
}

#comentarioPodcast {
  border-color: #ebebeb;
  background-color: white;
  width: 100%;
  height: 70px;
  font-size: 1rem;
  border-radius: 5px;
  padding-top: 20px;
  text-align: center;
}

#enviar_podcast {
  font-size: 1.1rem;
  font-family: "Sora", sans-serif;
  border-radius: 5px;
  border-color: #0f0e0e;
  background-color: #ebebeb;
  color: #7d7d7d;
  font-weight: 400;
  height: 70px;
}

#enviar_podcast:hover {
  background-color: #ababab;
  border-radius: 5px;
  color: #7d7d7d;
}

.fondo-portada_podcast {
  background-image: url(../assets/img/ni\ pio\ de\ ingles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-mix {
  display: flex;
}

.video_1_podcast {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.max-width_podcast {
  max-width: 65vw;
  padding: 50px 0;
}

.titulo-portada_podcast {
  max-width: 50vw;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  padding: 3rem;
}

.card_podcast {
  height: 50vh;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff1d9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
}

.padding-card-txt {
  padding: 2.5rem 3rem;
}

.alto-card-img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .titulo-portada_podcast {
    max-width: 100vw;
    position: relative;
    top: 9rem;
    left: 0.7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
  }
  .fondo-portada_podcast {
    background-image: url(../assets/img/ni\ pio\ de\ ingles.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 4rem;
  }
  .max-width_podcast {
    max-width: 100vw;
    padding: 40px 0;
  }
  .flex-mix {
    display: block;
  }
  .padding-card-txt {
    padding: 1.3rem 2rem;
  }
  .alto-card-img {
    height: 30vh;
  }
  .video_1_podcast {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .card_podcast {
    margin: auto;
    height: 68vh;
    width: 88vw;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff1d9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
  }
  .comentario_podcast {
    padding: 0 1.3rem;
  }
  #comentarioPodcast {
    height: 60px;
    font-size: 0.8rem;
    padding-top: initial;
    padding: 0.5rem;
  }
  #enviar_podcast {
    font-size: 0.8rem;
    height: 60px;
  }
}
/* --------------------CONTACT--------------------- */
/* banner */
.padding-contact {
  padding-top: 7rem;
}
.padding-contact .txt-banner_contact {
  padding-left: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* seccion 1 */
.txt-seccion-1_contact {
  padding-right: 5rem;
}

/* seccion 2 */
.alto-input_contact {
  height: 65px;
  background-color: white;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 16px;
  border-color: rgba(255, 255, 255, 0);
  margin: 0.5rem 0;
}

.sugerencia #comentarioHome {
  background-color: white;
  height: 20vh;
  margin-top: initial;
  margin: 0.5rem 0;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-top: 15px;
  padding-left: 15px;
  border-color: white;
  border-radius: 5px;
}

.mapa_contact {
  height: 75vh;
  padding: 0;
}
.mapa_contact .mapa {
  width: 100%;
  height: 90%;
}

@media screen and (max-width: 768px) {
  .padding-contact {
    padding-top: 0;
  }
  .padding-contact .txt-banner_contact {
    height: 45vh;
    text-align: center;
    order: 1;
    padding-right: 0;
    padding-top: 4rem;
    padding-left: 0;
  }
  .txt-seccion-1_contact {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .txt-banner_contact {
    height: 45vh;
    text-align: center;
    order: 1;
    padding-right: 0;
    padding-top: 4rem;
    padding-left: 0;
  }
  .sugerencia #comentarioHome {
    height: 20vh;
    margin-top: 0.5rem;
  }
  #borrar {
    height: 9vh;
  }
  #enviar {
    height: 9vh;
  }
  .mapa_contact {
    height: 80vh;
  }
  .img-banner_contact {
    height: 55vh;
    padding-top: 6rem;
    order: 0;
  }
  .img-banner_contact > .img-propio {
    width: 85%;
    padding-top: 1.5rem;
  }
}
/*---------------------- FOOTER---------------- */
.footer {
  background-color: #0f0e0e;
  height: 45vh;
}

.logo_footer {
  width: 100%;
}

.divisor {
  border-right: 2px solid #a4a3a3;
  height: 170px;
}

/* COLUMNA 1 */
.icono {
  color: #a4a3a3;
  font-size: 3rem;
  margin: 0 10px;
}

.icono:hover {
  color: #fff1d9;
}

/* COLUMNA 2 */
.listaMenu_footer {
  list-style: none;
  padding: initial;
}

.elementosLista {
  margin: 10px 0;
  text-align: center;
}

.enlace_footer {
  color: #a4a3a3;
  text-decoration: none;
}

.enlace_footer:hover {
  color: #fff1d9;
}

/* DERECHOS */
.derechos {
  text-align: center;
  height: 5vh;
  font-size: 12px;
  color: #828181;
}

@media screen and (max-width: 767px) {
  /* FOOTER  */
  .footer {
    height: 80vh;
  }
  .logo_footer {
    width: 70%;
  }
  .divisor {
    border-right: initial;
  }
  .enlace_footer {
    font-size: 20px;
  }
  .derechos {
    padding: 0.2rem 0;
  }
}
/* UTILIDADES */
.SECCION {
  height: 100vh;
}

.fondoClaro {
  background-color: #fff1d9;
}

.text-align-propio {
  text-align: left;
}

.img-propio {
  width: 90%;
}

.align-no-bs {
  text-align: left;
}

.parrafo {
  padding-top: 1.1rem;
  padding-bottom: 3.8rem;
}

.paddingTexto {
  padding-right: 5rem;
}

.boton {
  background-color: #516bff;
  padding: 2rem 7rem;
  border-radius: 5px;
  text-align: center;
  color: #fff1d9;
  text-decoration: none;
  font-size: 1.2rem;
}

.enlace:hover {
  background-color: #0f0e0e;
  border-radius: 5px;
  color: #fff1d9;
}

@media screen and (max-width: 767px) {
  .SECCION {
    height: 100hv;
  }
  .align-no-bs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-align-propio {
    text-align: center;
  }
  .img-propio {
    width: 100%;
  }
  .img-fluid {
    width: 90%;
  }
  .parrafo {
    padding-top: 0.6rem;
    padding-bottom: 3rem;
  }
  .paddingTexto {
    padding: 0;
  }
  .boton {
    font-size: 0.95rem;
    padding: 1.5rem 4.8rem;
  }
}
.desktop_404 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
}
.desktop_404 .img-propio {
  width: 80%;
}

.mobile_404 {
  display: none;
  height: 100vh;
  width: 100%;
}
.mobile_404 .img-propio {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .desktop_404 {
    display: none;
  }
  .mobile_404 {
    display: initial;
  }
}/*# sourceMappingURL=estilos.css.map */