.desktop_404{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  .mobile_404{
    display: none;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width:768px) {
    .desktop_404{
      display: none;
    }
  
    .mobile_404{
      display: initial;
    
    }
  }
