/*---------------------- FOOTER---------------- */
.footer{
    background-color: map-get($mapa-colores, color-primario-oscuro );
    height: 45vh;
  }
 
  .logo_footer{
    width: 100%;
  }
 
  .divisor{
    border-right: 2px solid #a4a3a3;
    height: 170px;
  }
 /* COLUMNA 1 */
  .icono{
    color: #a4a3a3;
    font-size: 3rem;
    margin: 0 10px;
  }
 
  .icono:hover {
    color: map-get($mapa-colores, color-primario-claro);
  }
 
 /* COLUMNA 2 */
  .listaMenu_footer{
    list-style: none;
    padding: initial;
  }
 
  .elementosLista{
    margin: 10px 0;
    text-align: center;
  }
 
  .enlace_footer{
    color:#a4a3a3;
    text-decoration: none;
    font-family: $fuente-principal;
    font-size: 1.2rem;
    font-weight: 400;
 }
 
 .enlace_footer:hover {
    color: map-get($mapa-colores, color-primario-claro);
  }
 
  /* DERECHOS*/
  .derechos {
    padding: 0.3rem 0;
    text-align: center;
    height: 5vh;
    color: #828181;
    p{
      font-size: 0.85rem;
      font-weight: 100;
    }
  }

  
@media screen and (max-width:767px) 
{
   /* FOOTER  */
   .footer{
      height: 80vh;
   }

   .logo_footer{
      width: 70%;
   }

 .divisor{
   border-right: initial;
  }

 .derechos{
  padding: 0.2rem 0;
}

}