/* ------------------HOME------------------- */

/* seccion 1 */
.seccion-1_home{
    height: 100vh;
    background-image: url(../assets/img/personajes/fondo_seccion_1_home_1920.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

      .width_home{
        max-width: 45vw;
        
        .contenedorImagenSeccion-1_home{
          display: none;
        }
      }
}
  
 
  /* formulario*/
  .comentarios{
    padding: 0 12px;
    
    #comentarioHome{
      height: 20vh;
      background-color: map-get($mapa-colores, color-secundario-3);
      font-size: 1rem;
      border-color: map-get($mapa-colores, color-secundario-3);
      border-radius: 5px;
      padding-top: 25px;
      padding-left: 15px;
      margin-top: 30px;
      text-align: center;
    }

  }
  
  #borrar {
    font-size: 1.1rem;
    font-family:'Sora', sans-serif;
    font-weight:400;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid map-get($mapa-colores, color-primario-oscuro );
    border-radius: 5px;
    height: 70px;
 }

 #enviar {
    font-size: 1.1rem;
    font-family:'Sora', sans-serif;
    border-radius: 5px;
    background-color: map-get($mapa-colores, color-primario-oscuro );
    color: map-get($mapa-colores, color-primario-claro);  
    font-weight:400;
    height: 70px;

      &:hover{
        background-color:#4e4e4e;
        border-radius: 5px;
        color: map-get($mapa-colores, color-primario-claro);
      }
  }
 


  @media screen and (max-width:768px) 
  {

    /* seccion 1 */
    .seccion-1_home{
      height: 110vh;
      background-image: initial;
  
        .width_home{
          max-width: initial;
        
          .contenedorImagenSeccion-1_home{
            text-align: center;
            display: initial;

              .imagenSeccion1_home{
                width: 55%;
                margin-bottom: 30px;
              }         
          }
        
          .parrafo{
            padding-bottom: 0;
          }
        }
    }

  /* formulario */
  .comentarios{
    padding: 0 12px;
    
    #comentarioHome{
      height: 12vh;
      margin-top: 3rem;
      text-align: center;
      padding: 2rem 0;
    }
  }

  #borrar {
    font-size: 0.9rem;
    height: 50px;
  }
 
  #enviar {
    font-size: 0.9rem;
    height: 50px;
  }

  /* seccion 2 */
  .textos-seccion-2_home{
    order:1;
    text-align: center;
      .parrafo{
        padding-left: 1.5rem;
        padding-right: 1.5rem;

      }


  }

   .contenedor_imagen-seccion-2_home{
    text-align: center;
    display: initial;
    order:0;
    padding-bottom: 30px;

        .img-propio{
        width: 85%;
        }
   }

   
}


