 /* ------------PODCAST-------------- */
 .color-portada-card{
    background-color: map-get($mapa-colores, color-secundario-1);
   }
  
   .color-1-divisor_podcast{
    background-color: map-get($mapa-colores, color-secundario-3);
   }
   .color-2-divisor_podcast{
    background-color:map-get($mapa-colores, color-primario-claro);
   }
   #comentarioPodcast{
   border-color: map-get($mapa-colores, color-primario-gris-1);
    background-color: map-get($mapa-colores, color-secundario-3);
    width: 100%;
    height: 70px;
    font-size: 1rem;
    border-radius: 5px;
    padding-top: 20px;
    text-align: center;
   }

   #enviar_podcast {
    font-size: 1.1rem;
    font-family:'Sora', sans-serif;
    border-radius: 5px;
    border-color: map-get($mapa-colores, color-primario-oscuro );
    background-color: map-get($mapa-colores, color-primario-gris-1);
    color: map-get($mapa-colores, color-primario-gris-3);  
    font-weight:400;
    height: 70px;}
  
  #enviar_podcast:hover{
       background-color: map-get($mapa-colores, color-primario-gris-2);
       border-radius: 5px;
       color: map-get($mapa-colores, color-primario-gris-3); 
  }
   
   .fondo-portada_podcast{
    background-image: url(../assets/img/personajes/ni_pio_de_ingles_podcast_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
   }
   .flex-mix {
    display: flex;
  }

  .video_1_podcast{
    width: 100%;  
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  
   .max-width_podcast{
    max-width: 65vw;
    padding: 50px 0;
    
   }
  
   .titulo-portada_podcast{
    max-width: 50vw;
    background-color: map-get($mapa-colores, color-secundario-3);
    border-radius: 15px 15px 15px 15px;
    padding: 3rem;
   }
  .card_podcast{
    height: 50vh;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: map-get($mapa-colores, color-primario-claro);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
  }
  .padding-card-txt{
    padding: 2.5rem 3rem;
  }
  .alto-card-img{
    height: 100%;
  }
  
 @media screen and (max-width: 768px){
  
  .titulo-portada_podcast{
    max-width: 100vw;
    position: relative;
    top:9rem;
    left: 0.7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
   }
   .fondo-portada_podcast{
    background-image: url(../assets/img/ni\ pio\ de\ ingles.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 4rem;
   }

   
   

   .max-width_podcast{
    max-width: 100vw;
    padding: 40px 0;
    
   }

   .flex-mix {
    display: block;
  }

  .padding-card-txt{
    padding: 1.3rem 2rem;
  }
  .alto-card-img{
    height: 30vh;
  }
  
  .video_1_podcast{
    width: 100%;  
    height: 100%;
    border-radius: 10px 10px 0 0;
  }

  .card_podcast{
    margin: auto;
    height: 68vh;
    width: 88vw;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: map-get($mapa-colores, color-primario-claro);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.093), 0 6px 10px 0 rgba(0, 0, 0, 0.055);
  }
 .comentario_podcast{
  padding: 0 1.3rem;
 }

 #comentarioPodcast{
   height: 60px;
   font-size: 0.8rem;
   padding-top: initial;
   padding: 0.5rem;
  }

  #enviar_podcast {
   font-size: 0.8rem;
   height: 60px;}
 }