/* -----------------PROGRESS-------------- */
.img-banner_progress > .img-propio{
  padding-top: 3rem;
}

.padding_progress{
  padding: 0 6rem;
}

.seccion_progress {
  height: 90vh;
}
.enCurso_progress{
    max-width: 95%;
    max-height: 100%;
    border-radius: 15px;
    padding: 40px;
    background-color: $color-secundario-3;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.093), 0 10px 40px 0 rgba(0, 0, 0, 0.050);
  }
  
  .finalizadas_progress{
    max-width: 95%;
    max-height: 100%;
    border-radius: 15px;
    padding: 40px;
    background-color: $color-secundario-2;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.093), 0 10px 40px 0 rgba(0, 0, 0, 0.100);
  }
  
  .padding-h2_progress{
    padding-bottom: 20px;
  }
  
  .contenedor-galeria_progress{
    height: 70vh;
  }

 .lista-seccion-1_progress{
    height: 45vh;
   }
  
  .justify_progress{
    justify-content: left;
  }
  
  
   .titulos-seccion-2_progress{
    height: 33vh;
  }

  .paddingTexto > h1{
    padding-top: 9.5rem;
  }

  .img-seccion-2_progress{
    padding: 1rem;
  }


@media screen and (max-width:768px){

  .seccion_progress {
    height: 100vh;
  }
  
  .paddingTexto > h1{
    padding-top: 0;
  }

  .padding_progress{
    padding: 0 0;
  }

   .txt-banner_progress{
    height: 45vh;
    text-align: center;
    order:1;
    padding: 0 1rem;
    padding-top: 4rem;

 }

.img-banner_progress{
    height: 55vh;
    padding-top: 6rem;
    order:0;
  }


  .img-banner_progress > .img-propio{
    width: 85%;
    padding-top: 1.5rem;
  }
  .enCurso_progress{
    max-width: 100%;
    padding: 30px;
    margin-bottom: 1rem;
  }
  .finalizadas_progress{
    max-width: 100%;
    padding: 30px;
  }

  .padding-h2_progress{
    padding-bottom: 10px;
    padding-top: 10px;
    }
  
  .img-seccion-2_progress{
    padding-top: 3rem;
  }

  .img-seccion-2_progress{
    padding: 0;
    margin: 1rem 0;
  }
  
}


  