/* UTILIDADES */
.SECCION{
    height: 100vh;
 }

.fondoClaro{
  background-color: map-get($mapa-colores, color-primario-claro );
}
.text-align-propio{
  text-align: left;
}

.img-propio{
  width: 90%;
}

.align-no-bs{
 text-align: left;
}

.parrafo{
    padding-top: 1.1rem;
    padding-bottom: 3.8rem;
 }

 .paddingTexto{
    padding-right: 5rem;
  }
  .boton {
    background-color: map-get($mapa-colores, color-secundario-1);
    padding: 2rem 7rem;
    border-radius: 5px;
    text-align: center;
    color: map-get($mapa-colores, color-primario-claro);
    text-decoration: none;
    font-size: 1.2rem;    
}
.enlace:hover {
  background-color: map-get($mapa-colores, color-primario-oscuro);
  border-radius: 5px;
  color: map-get($mapa-colores, color-primario-claro);
}

@media screen and (max-width:767px) 
{

  .SECCION{
    height: 100hv;
  }

  .align-no-bs{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-align-propio{
    text-align: center;
   }
  
   .img-propio{
    width: 100%;
  }
  .img-fluid{
    width: 90%;
   }

  .parrafo{
    padding-top: 0.6rem;
    padding-bottom: 3rem;
 }

 .paddingTexto{
    padding: 0;
   }

   .boton{
    font-size: 0.95rem;
    padding: 1.5rem 4.8rem;}

}