$color-primario-oscuro: #0f0e0e;
$color-primario-claro: #fff1d9;
$color-secundario-1: #516bff;
$color-secundario-2:#ffb01a;
$color-secundario-3: white;
$color-primario-gris-1:#ebebeb;
$color-primario-gris-2:#ababab;
$color-primario-gris-3:#7d7d7d;

$fuente-principal:"Sora", sans-serif;


